<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hieraviz
    <%= @title if @title %>
    </title>
    <link href="css/main.css" rel="stylesheet" type="text/css">
    <script async="async" src="js/main.js"></script>
    <%= yield_content :more_js %>
  </head>
  <body>
    <div id="container">
      <div class="head">
        <%= erb :_head, :layout => false %>
      </div>
      <div class="content">
        <%= yield %>
      </div>
      <div class="foot">
        <%= erb :_foot, :layout => false %>
      </div>
    </div>
  </body>
</html>
