<div class="title">
<a href="/">
<%= settings.app_name %>
</a>
</div>
<% if session[:access_token] -%>
<div class="nav">
<a href="<%= @env %>/nodes" class="nodes">Nodes</a>
<a href="<%= @env %>/farms" class="farms">Farms</a>
<a href="<%= @env %>/modules" class="modules">Modules</a>
<a href="<%= @env %>/resources" class="resources">Resources</a>
</div>
<div class="auth">
<div class="username">
identified as <a href="/user" class="userlink"><%= @username %></a>
</div>
<a href="/logout" class="link" id="logout">Logout</a>
</div>
<% else -%>
<div class="auth">
<a href="/login" class="link" id="login">Connect</a>
</div>
<% end -%>
