<div class="title">
<a href="/">
<%= settings.app_name %>
</a>
</div>

<div class="nav">
<% if session[:access_token] && @username != ''  and @base -%>
<% if settings.basepaths -%>
<div class="base">
<span class="current"><%= @base_name %></span>
<div class="all">

<form class="filter">
<input type="text" name="filter" />
</form>

<% settings.basepaths.map { |p| File.basename(p) }.each do |e| -%>
<div class="select"><%= e %></div>
<% end -%>
</div>
</div>
<% end -%>
<% end -%>

<% if session[:access_token] -%>
<a href="<%= @base %>/nodes" class="nodes">Nodes</a>
<a href="<%= @base %>/farms" class="farms">Farms</a>
<a href="<%= @base %>/modules" class="modules">Modules</a>
<a href="<%= @base %>/resources" class="resources">Resources</a>
<% end -%>
</div>

<% if session[:access_token] && @username != '' -%>
<div class="auth">
<div class="username">
identified as <a href="<%= @base %>/user" class="link"><%= @username %></a>
</div>
<a href="/logout" class="link" id="logout">Logout</a>
</div>
<% else -%>
<div class="auth">
<a href="/login" class="link" id="login">Connect</a>
</div>
<% end -%>
