<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Hieraviz
    <%= @title if @title %>
    </title>
    <link href="/css/main.css" rel="stylesheet" type="text/css">
    <script src="/js/fetch.js"></script>
    <script src="/js/main.js"></script>
    <% if settings.basepaths %>
    <script src="/js/base-switch.js"></script>
    <% end -%>
    <% if session['access_token'] %>
    <script>
      var session_key = "<%= session['access_token'] %>";
    </script>
    <% end -%>
    <%= yield_content :more_js %>
  </head>
  <body>
    <div id="container">
      <div class="head">
        <%= erb :_head, :layout => false %>
      </div>
      <div class="content">
        <%= erb :_flash, :layout => false %>
        <%= yield %>
      </div>
      <div class="foot">
        <%= erb :_foot, :layout => false %>
      </div>
    </div>
  </body>
</html>
