<% content_for :more_js do %>
<script src="/js/farms.js"></script>
<% end %>

<div class="side">
<form class="filter">
<input type="text" name="filter" />
</form>
<ul>
<% @farms.each do |farm, count| %>
<li class="farm<%= ' none' if count == 0 %>" data-env="<%= @base %>" data-item="<%= farm %>"><%= farm %> <span class="count"><%= count %></span></li>
<% end %>
</ul>
</div>
<div class="meat farms">
</div>
